
.button {
    -fx-background-color:  #cc3333;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #ff0000;
}

#buttonSave, #buttonClone {
    -fx-background-color:  #99ff33;
    -fx-background-radius: 5;
}

#buttonSave:hover, #buttonClone:hover {
    -fx-background-color: #00ff00;
}