
.button {
    -fx-background-color:  #343a40;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #212529;
}

#bottoneEliminaQuery, #bottoneAggiungiQuery, #buttonAccept, #buttonCancel {
    -fx-background-color: #6c757d;
}

#bottoneEliminaQuery:hover, #bottoneAggiungiQuery:hover, #buttonAccept:hover, #buttonCancel:hover {
    -fx-background-color: #495057;
}